* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
/*
.center {
    display: flex;
    max-width: 1100px;
    padding: 0 2%;
    margin: 0 auto;
    flex-wrap: wrap;
}
*/
section.main {
    background-image: url('images/bg.svg');
    background-position: center;
    background-size: cover;
    min-height: 700px;
    padding: 20px 0 80px 0;

}

.menu {
    display: flex;
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

.logo-menu {
    width: 50%;
}

.items-menu {
    width: 50%;
    text-align: right;
}

.items-menu a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin: 0 10px;
}

.items-menu a:hover {
    border-bottom: 2px solid #ffdd33;
}

.items-menu a.contact-btn {
    background-color: #0f3fd3;
    padding: 10px;
    border-radius: 10px;
}

.items-menu a.contact-btn:hover {
    border: none;
}

.mockup {
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 100px;
}

.mockup h1 {
    font-size: 50px;
}

.mockup p {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.mockup img {
    max-width: 100%;
}

/* Marcas */
.icones {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    flex-wrap: wrap;
}

/* Porque nós */

.porque-nos {
    background-color: #FBFCFE;
    margin: 100px 0;
}

.porque-nos > h2 {
    font-size: 64px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}

.porque-nos > p {
    font-size: 20px;
    color: #7E92AC;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

.diferenciais {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
    
}

.box-diferenciais {
    background-color: white;
    margin-left: 20px;
    box-shadow: 0px 20px 40px #2426721C;
    border-radius: 20px;
    padding: 30px;
    width: 500px; 
}

.box-diferenciais p {
    color: #7E92AC;
    margin-top: 20px;
    font-size: 16px;
}

/* Começar projeto */

.começar-projeto {
    background-image: url('images/banner.png');
    padding: 20px 10px;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.começar-projeto h2, p {
    color: white;
    font-weight: normal;
}

.começar-projeto h2 {
    font-size: 64px;
    text-align: center;
    margin-top: 50px;
}

.começar-projeto p {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.começar-projeto a {
    background-color: #FFDD33;
    padding: 10px 20px;
    color: #0F3FD3;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .box-diferenciais {
        width: 100%;
        margin-left: 0px;
    }
}
